
.submit{
    background-color:crimson;
    width: 50%;
    font-size: 1.2em;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
   
}


  .customer-details{
    height: 100%;
    margin-top: 40px;
    width:100%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "text form" "image form";
  }

  .customer-details .text{
    grid-area:text;
    display:flex;
    align-items:flex-end;
    justify-content: center;
    font-weight: 500;
    font-size:3em;
  }

  .customer-details .image{
    grid-area: image;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .customer-details .image img{
    width: 450px;
  }
  .customer-details .form{
    grid-area: form;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .customer-details .form{
   height:500px;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

  }
  .customer-details .form form input{
    height: 50px;
    width: 90%;
    border-radius: 5px;
    outline: none;
  }
  .customer-details .form form textarea{
    height: 50px;
    width: 90%;
    border-radius: 5px;
    outline: none;
  }
 