.email-or-password-incorrect.active{
    height: 40px;
    width: 550px;;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-left: 5px solid #ff0000;
    background: #ff7777;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 1.5em;
    font-weight: 600;
    color: #2b2b2b;
}

.email-or-password-incorrect  .dismiss-alert{
    margin-left: 20px;
    height: 30px;
    width: 30px;
    border: 2px solid #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

.email-or-password-incorrect.inactive{
    display: none;
}