.DashboardDemo{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 90%;
    grid-template-columns: 100%;
    grid-template-areas: "navbar" ".";
}

.DashboardDemo .navbar{
    grid-area: navbar;
}

@media all and (max-width: 1200px) {
}

@media all and (max-width: 992px) {
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 576px) {
}

@media all and (max-width: 424px) {
}

@media all and (max-width: 320px) {
}